.checkout-header {
    background-color: $color-black-primary;
}

.checkout-main, .back-btn {
    max-width: 110rem;
}

.checkout-main {
    display: flex;
    justify-content: space-between;
    margin: 3.8rem auto 14.1rem auto; 
}

.back-btn {
    margin: 7.9rem auto 0 auto; 
}

