.thumbnail {
    height: 28.4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__item {
        width: 35rem;
        height: 20.4rem;
        border-radius: .8rem;
        background-color: $color-gray-secondary;
        @include dflex-center;
        flex-direction: column;
        position: relative;

        & > :not(:first-child) {
            transform: translateY(180%);
        }

        & > * {
            margin-bottom: 2rem;
        }
    }

    &__img {
        width: auto;
        height: 16rem;
        position: absolute;
        top: -32%;
    }
}



