.product-header {
    background-color: $color-black-primary;
}

.product-container {
    width: 110rem;
    margin: 0 auto;

    & > :first-child {
        margin-top: 7.9rem;
        margin-bottom: 5.6rem;
    }

    & > * {
        margin-bottom: 16rem;
    }
}

.product {
    height: 56rem;
    display: flex;
    justify-content: space-between;

    &__img {
        & > img {
            width: 54rem;
        }
    }
}

