.about {
    height: 58.8rem;
    display: flex;
    justify-content: space-between;

    &__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > h2 > span {
            color: $color-primary;
        }

        & > p {
            opacity: 0.5;
        }

        & > *:not(:last-child) {
            margin-bottom: 3.2rem;
        }
    }

    &__img {
        width: 54rem;
        border-radius: .8rem;
        overflow: hidden;
    }
}