.earphones__header {
    background-color: $color-black-primary;
    height: 33.6rem;
}

.header__content > h2 {
    color: $color-white !important;
    text-align: center;
    margin-top: 9.8rem;
}

.header__content, .earphones__main {
    max-width: 110rem;
    margin: 0 auto; 
}

.earphones__main {
    & > * {
        margin-top: 16rem ;
    }
    
    & > :last-child {
        margin-bottom: 16rem;
    }
}