.category__header {
    background-color: $color-black-primary;
    height: 33.6rem;
}

.category__main {
    max-width: 110rem;
    margin: 0 auto; 
}

.category__main {
    & > * {
        margin-top: 16rem ;
    }
    
    & > :last-child {
        margin-bottom: 16rem;
    }
}