.btn {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-family-bold;
    font-size: $font-size-button;
    line-height: $line-height-button;
    letter-spacing: $letter-spacing-button;
    border: none;

    &__one, &__two, &__black, &__transparent {
        width: 16rem;
        height: 4.8rem;
        @include dflex-center;
        display: inline-flex !important;
    }

    &__one {
        color: $color-white;
        background-color: $color-primary;

        &:hover {
            background-color: $color-secondary;
        }
    }

    &__two {
        color: $color-black-primary;
        background-color: $color-white;

        &:hover {
            color: $color-white;
            background-color: $color-black-primary;
        }
    }

    &__three {
        background-color: '';
        color: $color-black-secondary;
        
        &:hover {
            color: $color-primary;
        }
    }

    &__transparent {
        color: $color-black-primary;
        border: 1px solid $color-black-primary;

        &:hover {
            color: $color-white;
            background-color: $color-black-primary;
        }
    }

    &__black {
        color: $color-white;
        background-color: $color-black-primary;

        &:hover {
            color: $color-black-primary;
            background-color: $color-white;
        }
    }

    
}
