.input {
    width: 30.9rem;
    height: 5.6rem;
    padding: 1.8rem 0 1.8rem 2.4rem;
    border: 1px solid $color-gray-primary;
    border-radius: .8rem;
    
    font-family: $font-family-bold;
    font-size: $font-size-input;
    line-height: $line-height-input;

    &:focus {
        outline: none;
        border: 1px solid $color-primary;
    }

    &:invalid ~ label {
        color: $color-error-red;
    }
    &:invalid {
        border: 2px solid $color-error-red;
    }

    &__label {
        display: block;
        transform: translateY(-500%);

        font-family: $font-family-bold;
        font-size: $font-size-input-label;
        line-height: $line-height-input-label;
    }
}