.nav {
    & > ul {
        display: flex; 
        // transform: translateX(-10%);
    }

    & > ul > li {
        color: $color-white !important;
    }

    & > ul > li:not(:first-child) {
        margin-left: 3.4rem;
    }
}

